html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: slategray;
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
}

/* ^ Corpo ^ */

h1, h2, h3 p {

margin: 0 auto;

}

section {

    display: block;
    justify-content: center;
    text-align: center;

}

span {

font-size: xx-large;
display: block;
font-weight: bold;
color: coral;

}

.name {

    font-size: xx-large;
    display: block;
    font-weight: bold;
    color: coral;

}

.pe {
display: flex;
justify-content: center;
text-align: center;
background-color: blueviolet;
padding-top: 3rem;
padding-bottom: 3rem;
}

/* Nav Bar */

nav {

font-size: 80%;
padding: 1rem;
    
}


nav ul {

list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
gap: 2rem;

}

nav a {

text-decoration: none;
color: antiquewhite;
display: block;
}

.resumebtn {

background-color: orange;
border-radius: 5px;
padding: 0.6rem;

}

@media (min-width: 850px) {
    nav {
      max-width: 1200px;
      margin: 0 auto;
    }
nav li:first-child {

    flex-basis: auto;
    text-align: left;
    margin-right: auto;


}

  }

.fa-regular {

color: darkslateblue;
font-size: 30px;
background-color: cornflowerblue;
border-radius: 5px;
padding: 5px;
padding-inline: 10px;


  }

  .fa-regular:hover {

color: cornflowerblue;
background-color: darkslateblue;
transition: 0.2s;

  }

  .far-regular:active {

color: aliceblue;
background-color: darkblue;

  }